
body{
    font: 20px arial, sans-serif;
}
.navbar {
    background-color: greenyellow;
}

.quem-somos{
    background-color: rgb(0, 174, 255);
    color: white;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: aquamarine;
}
.bg-footer{
    background-color: black;
}